.button{
    padding: 8px 16px;
    border-radius: 50px;
    height: 40px;
    min-width: 96px;
    cursor:pointer;
    &.button-primary {
        border: 0;
        background-color: $secondary-base-color;
        color: $primary-base-color;
        &:disabled{
            color: $white-color;
        }
    }
    &.button-secondary {
        border: 1.4px solid $primary-base-color;
        background-color: $white-bg-color;
        color: $primary-base-color;
    }
    &[disabled] {
        background: #999999;
        cursor: not-allowed;
    }
}